input[type=text].ng-invalid.ng-touched{
    border: 1px solid red;
}
input[type=number].ng-invalid.ng-touched{
    border: 1px solid red;
}
select.ng-invalid.ng-touched{
    border: 1px solid red;
}

:host { color: gray; }

    :host ::ng-deep .tabset1 a.nav-link {
      color: green;
    }
    
    :host ::ng-deep .tabset1 a.nav-link.active {
      color: red;
      font-weight: bold;
    }