
<div class="page_container">

  <div class="breadcrumb">
    <div class="wrap">
      <div class="container">
        Welcome Message. Register your school here
      </div>
    </div>
  </div>

  <div class="span 12">
    <div> If Beneficiary already added a school, show this link to view current status
      <div>
        <div>Beneficiary Link -
          <a href="Track_School_Status.html">Click here to view School Status</a>
        </div>
        <h3>Otherwise, enter below details</h3>
      </div>
    </div>
  </div>

  <!-- Tab 1 -->
  <div id="1">
    <div class="control-group">
      <label class="control-label" for="input01">School Name</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="schoolName" required size="30" maxlength="30">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="multiSelect">Select School Type</label>
      <div class="controls">
        <select id="schoolType">
          <option>Nursery</option>
          <option>Primary</option>
          <option>Middle School</option>
          <option>Secondary School</option>
          <option>Higher Secondary School</option>
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="noOfStudents">Number of Students</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="noOfStudents" required size="30" maxlength="30">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="noOfStudents">Number of Teachers</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="noOfTeachers"  required size="30" maxlength="30">
      </div>
    </div>
  </div>

  <!-- Tab 2-->
  <div class="tab-pane" id="2">

    <div class="control-group">
      <label class="control-label" for="priContactName">Primary Contact</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="priContactName" placeholder="Get name from user id" required size="30" maxlength="30">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="priContactNum">Primary Contact Number </label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="priContactNum" placeholder="Get Phone Number" required size="30" maxlength="30">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="priContactEmail">Primary Contact Email </label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="priContactEmail" placeholder="Get Email" size="30" maxlength="30">
      </div>
    </div>


    <div class="control-group">
      <label class="control-label" for="secContactName">Secondary Contact</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="secContactName" placeholder="Enter name" size="30" maxlength="30">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="secContactEmail">Secondary Contact Email </label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="secContactEmail"  size="30" maxlength="30">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="secContactPhNum">Secondary Contact Phone Number </label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="secContactPhNum"  size="30" maxlength="30"> 
      </div>
    </div>

  </div>

  <!-- Tab 3 -->
  <div class="tab-pane" id="3">

    <div class="control-group">
      <label class="control-label" for="address">School Address </label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="address"   size="30" maxlength="30">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="streetName">Street Name</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="streetName"   size="30" maxlength="30">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="city">Town/City</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="city"   size="30" maxlength="30">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="district">Select District</label>
      <div class="controls">
        <select id="district">
          <option>Cuddalore</option>
          <option>Kanchipuram</option>
          <option>Chengalpattu</option>
          <option>Thiruvanamalai</option>
          <option>Villupuram</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="state">Select State</label>
      <div class="controls">
        <select id="state">
          <option>Tamilnadu</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Tab 4 -->
  <div class="tab-pane" id="4">

    <div class="control-group">
      <label class="control-label" for="reqType">Requirement Type</label>
      <div class="controls">
        <select id="reqType">
          <option>Select</option>
          <option>New</option>
          <option>Maintainence </option>
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="asstType">Asset Type</label>
      <div class="controls">
        <select id="asstType">
          <option selected>Select</option>
          <option>Sports</option>
          <option>Infrastructure</option>
          <option value="Other">Others</option>
        </select>
      </div>
    </div>

    <!--div class="control-group">
      <div class="controls">
        <input type="text" name="other" class="input-xlarge" placeholder="Enter Asset Type here" id="other" style="display: none;"
        />
      </div>
    </div -->

    <div class="control-group">
      <label class="control-label" for="select01">Asset Name</label>
      <div class="controls">
        <select id="asstName">
          <option>Select</option>
          <option>Football</option>
          <option>Bathroom</option>
          <option value="OtherName">Others</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="text" name="other" class="input-xlarge" placeholder="Enter Asset Name here" id="otherName" style="display: none;"
        />
      </div>
    </div>


    <div class="control-group">
      <label class="control-label" for="asstQty">Quantity</label>
      <div class="controls">
        <input type="text" class="input-small" id="asstQty" required size="30" maxlength="30">
      </div>
    </div>
    <div class="control-group">
      <input type="button" class="add-row" value="Add Requirement">
    </div>

    <div class="tab-content">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Select</th>
            <th>Requirement Type</th>
            <th>Asset Type</th>
            <th>Asset Name</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="control-group">
      <button type="button" class="delete-row">Delete Requirement</button>
    </div>

  </div>

  <!-- Tab 5 -->
  <div class="tab-pane" id="5">
    <div class="control-group">
      <label class="control-label" for="fileInput">Upload proof of identity of the school </label>
      <div class="controls">
        <input class="input-file" id="fileInput" type="file">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="textarea">Comments / Message to Trust</label>
      <div class="controls">
        <textarea class="input-xlarge" id="textarea" rows="3"></textarea>
      </div>
    </div>
  </div>


  <div class="form-actions">
    <button type="submit" class="btn send_btn">Submit</button>
    <button class="btn dark_btn">Cancel</button>
  </div>

</div>
